@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'mixins';

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fonts-mine {
  color: red;
  font-size: 100px;
  @include medium {
    font-size: 50px;
    color: green;
  }
}
